.profile-preview {
  display: flex;
  background: white;
  border: 0px;
  border-radius: 20px;
  height: 80px;
  width: 400px;
  margin: 10px;
}

.profile-preview img {
  max-height: 80px;
}

.profile-preview h4 {
  margin-left: 20px;
}