
/* Nav */
nav {
  position: fixed;
  top:0;
  left: 0;
  z-index: 99;
  overflow: hidden;
}

li {
  margin: 0.5rem 0.7rem;
}


nav i:hover {
  opacity:0.7;
  cursor: pointer;

}


 nav i:active{
  transform: scale(1.2);
}


