
/* Nav*/
nav {
  position: fixed;
  top:0;
  left: 0;
  z-index: 99;
}

li {
  margin: 0.5rem 0.7rem;
}


i:hover {
  opacity:0.7;
  cursor: pointer;

}


i:active{
  transform: scale(1.2);
}



/* Form */
.card-home {
  max-width: 800px;
  width: auto;
  margin: 0 auto;
  margin: 5% auto !important;
  
}

.card-home:hover{
  transform: scale(1);
  opacity: 1;
  cursor: pointer;
}

.card-login {
  text-align: center;
  width: 50vw;
  min-height: 6vh;
  padding: 2%;
  margin: 5% auto !important;
  border-radius: 10px;
}

.signup-card {
  margin-top: -4% !important;
}

.app-card {
  margin-bottom: -5% !important;
  border: 0 solid white !important;
  box-shadow: 0 0 0 0 white !important;
  display: flex;
  flex-direction: column;
}
.card-login > input {
  margin: 1.5rem !important;
  width: 85% !important;
  border-radius: 5px !important;
  border: 0.5px solid grey !important;
  box-shadow: 0 0.5px 0 0 grey !important;
  padding-left: 7.5px !important;
}
.card-login > input:focus {
  border: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

.insta-btn {
  width: 90% !important;
  border-radius: 5px;
}

.or-container {
  margin-top: 5%;
  display: flex;
  color: grey !important;
}

.card-login > div > hr {
  width: 40%;
}

.signup{
margin-top:2.5%;
border-radius:10px;
background-color: #000;
}


.post-profile-pic {
  margin: 0.2rem 1rem;
  border: solid 1px red;
  border-radius: 50%;
}


.post-top-part > input:focus {
  box-shadow: 0 1px 0 0 transparent !important;
}


.trip-card{
  max-width: 700px;
  width: auto;
  margin: 0 auto;
  margin: 5% auto !important;
  opacity:0.95;
  transform: scale(1);
}

.trip-card:hover{
  transform: scale(1.01);
  opacity: 1;
  cursor: pointer;
}


.image-card {
display: flex;
}

.image-card img {
  min-width: 200px;
  max-width: 200px;
  height:auto;
  border-radius: 20px;
  }

  .circular--landscape {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -50%;
}


.post-top-part {
  display: flex;
  width: 100%;
}

.post-top-more {
  margin-left: auto;
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: large;
}

.post-profile-pic {
  margin: 0.2rem 1rem;
  border: solid 1px red;
  border-radius: 50%;
}

.red-color{
  background-color:red !important;
}

.hr-profile {
  border-top: 1px solid #e0e0e0 !important;
  box-shadow: 0 0 9px 0 #e0e0e0 !important;
}

.profile-img {
  width: 10rem;
  height: 10rem;
  border: 1px solid #e0e0e0;
  border-radius: 100%;
}

.display-img-card{
  width: 15rem;
  height: 15rem;
  border: 1px solid #e0e0e0;
  margin:0.2rem;
  opacity:0.95;
  transform:scale(0.99)
}

.display-img-card:hover{
  opacity:1;
  transform:scale(1.01);
  cursor:pointer;
}

.profile-data{
  color: #555555;
  margin: 0.5rem auto!important;
}

.username {
  font-size: 1.5rem !important;
  margin: 0 0.5rem !important;
}


.edit-btn {
  width: 90%;
  margin: 1rem auto 0.3rem auto;
  padding: 0.3rem;
  text-align: center;
  border: 1px solid black;
}

.profile-flex {
  display: flex;
  margin: 1rem 0;
  justify-content: space-around;
  flex-wrap: wrap !important;
}

.random{
  color:#158bcb
}


/* SMALL COMPONENTS*/




.lff-card {
  min-height: 65vh;
}

.llf-DataDiv {
  position: relative;
  margin-bottom: 4rem;
}

.llf-img {
  margin-top: -5px;
  margin-right: -5px;
}

.lff-userDetails {
  margin-top: -0.4rem;
}

.lff-followBtn {
  width: 30%;
  margin-right: 1rem;
  margin-left: auto;
  border-radius: 0.3rem;
}

/* ProfilePhoto smallComponent Styling */

.pp-selectBtn {
  border-radius: 5px;
  width: 30%;
}

/* EditProfile smallComponent Styling */

.ep-doneBtn {
  margin-left: auto;
  margin: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.ep-cancelBtn {
  margin: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.ep-headerTitle {
  margin: 1.1rem auto;
  font-size: 1.5rem;
}

.ep-labelDiv {
  font-size: 1.3rem;
  width: 27%;
  margin-top: 0.5rem;
}

.ep-input {
  max-width: 70%;
  border-color: white !important;
  margin-right: 3%;
  font-size: 1.3rem !important;
}

.trip-details{
  display:flex;
  margin-bottom:2%;
}

.trip-details-body{
  margin-left:5%;
  
}

.btn-floating{
  bottom: -1px;
  right:-1px;
}

.add-button {
  margin-right: 200px;
}

.discover-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  /* overflow-y: hidden; */
  flex-direction: row;
  justify-content: space-between;
  height: 240px;
  gap: 20px;
}

.discover-trip {
  margin-top: 20px;
  background-size: 200px 200px;
  text-align: center;
  height: 200px;
  width: 200px;
  min-height: 200px;
  min-width: 200px;
  border-radius: 100px;
  color: white;
  box-shadow: 5px 5px 4px 0 rgb(88, 88, 88);

}

.discover-trip p {
  margin-top: 90px;
  text-shadow: 1px 1px black;
}
