.card-login {
    text-align: center;
    width: 50vw;
    min-height: 6vh;
    padding: 2%;
    margin: 5% auto !important;
    border-radius: 10px;
  }

  .card-login > input {
    margin: 1.5rem !important;
    width: 85% !important;
    border-radius: 5px !important;
    border: 0.5px solid grey !important;
    box-shadow: 0 0.5px 0 0 grey !important;
    padding-left: 7.5px !important;
  }

  .card-login > input:focus {
    border: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
  }

  .card-login > div > hr {
    width: 40%;
  }

  .insta-btn {
    width: 90% !important;
    border-radius: 5px;
  }

  .signup-card {
    margin-top: -4% !important;
  }