.card-home {
    max-width: 800px;
    width: auto;
    margin: 0 auto;
    margin: 5% auto !important;
    
  }
  
  .card-home:hover{
    transform: scale(1);
    opacity: 1;
    cursor: pointer;
  }

  .profile-img {
    width: 10rem;
    height: 10rem;
    border: 1px solid #e0e0e0;
    border-radius: 100%;
  }

  .profile-flex {
    display: flex;
    margin: 1rem 0;
    justify-content: space-around;
    flex-wrap: wrap !important;
  }

  .profile-data{
    color: #555555;
    margin: 0.5rem auto!important;
  }

  .username {
    font-size: 1.5rem !important;
    margin: 0 0.5rem !important;
  }

  .display-img-card{
    width: 15rem;
    height: 15rem;
    border: 1px solid #e0e0e0;
    margin:0.2rem;
    opacity:0.95;
    transform:scale(0.99)
  }
  
  .display-img-card:hover{
    opacity:1;
    transform:scale(1.01);
    cursor:pointer;
  }

  .hr-profile {
    border-top: 1px solid #e0e0e0 !important;
    box-shadow: 0 0 9px 0 #e0e0e0 !important;
  }